/* ヘッダー共通 */
.for-mobile {
    display: none!important;
}
header {
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 2;
    margin-block-start: unset !important;
}
/* ポートフォリオ用フッター */
.portfolio-footer {
    position: fixed !important;
    width: 100%;
    bottom: 0;
    z-index: 1;
    margin-block-start: unset;
}
/* ポートフォリオ用メイン */
.portfolio-main {
    margin: 56px !important;
    min-height: calc(100vh - 112px);
}
/* ポートフォリオフレーム */
.portfolio-flame-right {
    width: 56px;
    height: 100vh;
    position: fixed !important;
    top: 0;
    right: 0;
    background-color: var(--wp--preset--color--custom-bg-overlay-light);
    z-index: 2;
}
.portfolio-flame-left {
    width: 56px;
    height: 100vh;
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: var(--wp--preset--color--custom-bg-overlay-light);
    z-index: 2;
}
.portfolio-line-top {
    width: 100%;
    position: fixed !important;
    top: 56px;
    border: 1px solid var(--wp--preset--color--custom-text-primary-dark);
    z-index: 11;
}
.portfolio-line-right {
    height: 100vh;
    position: fixed !important;
    top: 0;
    right: 56px;
    border: 1px solid var(--wp--preset--color--custom-text-primary-dark);
    z-index: 11;
}
.portfolio-line-left {
    height: 100vh;
    position: fixed !important;
    top: 0;
    left: 56px;
    border: 1px solid var(--wp--preset--color--custom-text-primary-dark);
    z-index: 11;
}
.portfolio-line-bottom {
    width: 100%;
    position: fixed !important;
    bottom: 56px;
    border: 1px solid var(--wp--preset--color--custom-text-primary-dark);
    z-index: 11;
}
/* パンくずリスト */
.breadcrumbs {
    margin: unset !important;
}

/* フロントページ */
body.home {
    .portfolio-main {
        margin-left: unset !important;
        margin-right: unset !important;
        display: grid;
        align-items: center;
    }
    .portfolio-coverflow {
        margin: unset;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .vp-portfolio__items-arrow-prev {
        left: 66px !important;
    }
    .vp-portfolio__items-arrow-next {
        right: 66px !important;
    }
    .vp-portfolio__item-overlay {
        background: var(--wp--preset--color--custom-bg-overlay-dark) !important;
    }
}

/* シングルポートフォリオページ */
body.single-portfolio {
    .portfolio-left-sticky {
        position: sticky !important;
        top: 56px;
        height: calc(100vh - 112px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .taxonomy-portfolio_category {
        display: flex;
    }
    .taxonomy-portfolio_category a {
        transition: 0.5s;
        text-decoration: unset;
        background-color: var(--wp--preset--color--custom-bg-secondary-gray);
        padding: 3px 8px;
    }
    .taxonomy-portfolio_category a:hover {
        background-color: unset;
    }
    .portfolio-url a,
    .wp-block-button__link {
        padding: unset;
        text-decoration: underline;
        transition: 0.5s;
    }
    .portfolio-url a:hover {
        color: var(--wp--preset--color--custom-link-hover) !important;
        text-decoration: unset;
        transform: scale(1.05);
    }
    .description-list {
        grid-template-columns: 1fr 3fr !important;
    }
    .description-list-links a {
        text-decoration: unset;
    }
    .description-list-links a:hover {
        transform: scale(1.05);
    }
    .eyecatch {
        height: calc(100vh - 240px) !important;
        width: 100%;
    }
}

/* プロフィールページ */
body.page-template-page-profile {
    .profile-contents {
        min-height: calc(100vh - 112px);
        justify-content: center;
    }
    .contact-form {
        display: flex;
        align-items: center;
    }
}

/* グリッドレイアウト */
.grid-12 {
    display: grid !important;
    grid-template-columns: repeat(12, 1fr);
}
.grid-8 {
    display: grid !important;
    grid-template-columns: repeat(8, 1fr);
}
.grid-column-start-2 {
    grid-column-start: 2;
}
.grid-column-start-3 {
    grid-column-start: 3;
}
.grid-column-start-4 {
    grid-column-start: 4;
}
.grid-column-end-4 {
    grid-column-end: 4;
}
.grid-column-end-8 {
    grid-column-end: 8;
}
.grid-column-end-11 {
    grid-column-end: 11;
}

@media screen and (max-width: 768px) {
    .for-mobile  {
        display: block !important;
    }
    .for-pc {
        display: none !important;
    }
    header .common-header {
        padding-right: unset !important;
        padding-left: unset !important;
    }
    .portfolio-footer {
        position: relative !important;
    }
    .portfolio-flame {
        display: none;
    }
    .portfolio-main {
        margin-top: 56px !important;
        margin-left: unset !important;
        margin-right: unset !important;
        margin-bottom: unset !important;
        padding: 3rem 1rem;
        display: flex !important;
        gap: 3rem !important;
    }
    
    /* フロントページ */
    body.home {
        .portfolio-main {
            display: block !important;
        }
        .vp-portfolio__items-arrow-prev {
            left: 0 !important;
        }
        .vp-portfolio__items-arrow-next {
            right: 0 !important;
        }
    }
    
    /* シングルポートフォリオページ */
    body.single-portfolio {
        .portfolio-main {
            padding: 3rem 0;
            flex-direction: column;
            .portfolio-left {
                .portfolio-left-sticky {
                    position: relative !important;
                    top: 0;
                    height: auto !important;
                    border: unset;
                    padding: unset !important;
                    .title-list {
                        gap: unset;
                    }
                    .description-list {
                        gap: 0.5rem !important;
                    }
                    .portfolio-left-sticky-contents {
                        /* height: calc(100vh - 104px); */
                        justify-content: space-between;
                    }
                }
            }
            .portfolio-right {
                padding: unset !important;
            }
        }
    }
    
    /* プロフィールページ */
    body.page-template-page-profile {
        .profile-contents {
            height: calc(100vh - 152px);
            min-height: unset;
            gap: unset !important;
            justify-content: space-between;
        }
        .profile-content-detail {
            margin: unset !important;
            display: flex !important;
            flex-direction: column;
            gap: 2rem !important;
        }
    }
}