<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"portfolio-flame","tagName":"div","area":"uncategorized","className":"portfolio-flame"} /-->

<!-- wp:group {"metadata":{"patternName":"core/block/569","name":"coverflow","categories":["gallery"]},"className":"visual-portfolio","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical","verticalAlignment":"center","justifyContent":"stretch"}} -->
<div class="wp-block-group visual-portfolio"><!-- wp:visual-portfolio/block {"block_id":"Z5WFA2","align":"wide","content_source":"post-based","posts_offset":0,"layout":"slider","slider_effect":"coverflow","slider_autoplay_hover_pause":true,"slider_items_height_static":640,"slider_items_height_dynamic":100,"slider_loop":true,"slider_arrows":false,"slider_bullets":true,"slider_mousewheel":true,"items_gap":0,"layout_elements":{"top":{"elements":[],"align":"left"},"items":{"elements":["items"]},"bottom":{"elements":[],"align":"center"}},"custom_css":"selector%20%7B%0A%7D"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->