<!-- wp:template-part {"slug":"portfolio-flame","tagName":"div","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"front-main"},"align":"wide","className":"portfolio-main front-main","style":{"dimensions":{"minHeight":""}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide portfolio-main front-main"><!-- wp:visual-portfolio/block {"block_id":"Z6MnPH","align":"wide","content_source":"post-based","posts_offset":0,"layout":"slider","slider_effect":"coverflow","slider_autoplay":0,"slider_autoplay_hover_pause":true,"slider_items_height_static":640,"slider_items_height_dynamic":100,"slider_loop":true,"slider_bullets":true,"items_gap":0,"layout_elements":{"top":{"elements":[],"align":"left"},"items":{"elements":["items"]},"bottom":{"elements":[],"align":"center"}}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"portfolio-footer"} /-->