<!-- wp:template-part {"slug":"portfolio-flame","tagName":"div","area":"uncategorized"} /-->

<!-- wp:group {"className":"portfolio-frontpage-main","style":{"position":{"type":""},"dimensions":{"minHeight":""}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","flexWrap":"nowrap"}} -->
<div class="wp-block-group portfolio-frontpage-main"><!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:visual-portfolio/block {"block_id":"Z2Xzv3","align":"wide","className":"portfolio-coverflo","content_source":"post-based","posts_offset":0,"layout":"slider","slider_effect":"coverflow","slider_autoplay":5,"slider_autoplay_hover_pause":true,"slider_items_height_static":640,"slider_items_height_dynamic":100,"slider_loop":true,"slider_bullets":true,"items_gap":0,"layout_elements":{"top":{"elements":[],"align":"left"},"items":{"elements":["items"]},"bottom":{"elements":[],"align":"center"}}} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--></div>
<!-- /wp:group -->