<!-- wp:template-part {"slug":"portfolio-flame","area":"uncategorized"} /-->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Portfolio Contents"},"className":"portfolio-contents","style":{"spacing":{"padding":{"right":"56px","left":"56px"},"margin":{"top":"56px","bottom":"56px"}},"dimensions":{"minHeight":"px"}},"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group portfolio-contents" style="min-height:px;margin-top:56px;margin-bottom:56px;padding-right:56px;padding-left:56px"><!-- wp:group {"metadata":{"name":"Portfolio Left"},"className":"portfolio-left","style":{"spacing":{"padding":{"right":"1rem","left":"1rem"}},"layout":{"columnSpan":1,"rowSpan":1},"position":{"type":"sticky","top":"0px"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"space-between"}} -->
<div class="wp-block-group portfolio-left" style="padding-right:1rem;padding-left:1rem"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"Titlelist"},"style":{"spacing":{"blockGap":"1rem"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"portfolio_category"} /-->

<!-- wp:post-title /-->

<!-- wp:paragraph {"metadata":{"name":"URL"}} -->
<p><a href="http://example.com" target="_blank" rel="noreferrer noopener">http://example.com</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"layout":{"columnSpan":1,"rowSpan":1}}} -->
<p>担当範囲</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>企画・構成<br>デザイン<br>コーディング<br>WordPress実装</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>使用ツール</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Figma,<br>HTML,<br>CSS,<br>JavaScript,<br>WordPress</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>制作時間</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>６週間</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"metadata":{"name":"ぱんくず"}} -->
<p>HOME &gt; タイトル</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Portfolio Right"},"style":{"layout":{"columnSpan":2,"rowSpan":1}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} /-->

<!-- wp:post-content /-->

<!-- wp:post-content /-->

<!-- wp:post-content /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /--></div>
<!-- /wp:group -->